
*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

.mainArea{
    width: 1000px;
    height: 900px;
    background: #f99;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}


.headimgArea{
    position: absolute;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    margin-top: 160px;
}

.headimgArea img.headimg{
    width: 160px;
    text-align: center;
    margin-left: 30px;
}
.headimgArea img.checkBtn{
    width: 100px;
    text-align: center;
    margin-left: 60px;
    margin-right: 30px;
    cursor: pointer;
}

.btns{
    position: absolute;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    top: 600px;
}

.btn{
    font-size: 30pt;
    width: 300px;
    text-align: center;
    background: #e33;
    color: #f5de1f;
    display: inline-block;
    border-radius: 10px;
    margin-left: 70px;
}